<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/markdown.css">
  <link rel="stylesheet" href="css/governance.css">
</head>
<body>
  <div class="contents">
    {{{ contents }}}
  </div>
</body>
</html>
