<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  <link rel="stylesheet" href="css/markdown.css">
  <link rel="stylesheet" href="css/index.css">
    <script src="js/sidebar.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="toc">
            <ul class="toc-list">
                {{#each toc}}
                    <li class="toc-item">
                        <a class="toc-text" href="#{{this.id}}">{{this.text}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="contents">
            {{{ contents }}}
        </div>
    </div>
</body>
</html>
