@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    background-color: #1D1354;
    color: white;
    font-size: 14px;
}

.contents {
    width: 1200px;
    background-color: #261C5E;
    margin: 50px auto;
    padding: 30px 40px;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

a {
    color: #02DAC9;
}

table {
    width: 100%;
    border: 1px solid #544899;
    border-collapse: collapse;
}

thead {
    background-color: #140B44;
}

th, td {
    text-align: left;
    padding: 8px 24px;
}

tr:nth-child(even) {
    background-color: #1D1354;
}
