.wrapper {
    width: 1200px;
    margin: 50px auto;
    padding-bottom: 50px;
}

.toc {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
}

.toc-list-1 {
    padding-left: 0;
}

.toc-list-2 {
    margin-left: 24px;
    padding-left: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.toc-item-1, .toc-item-2 {
    list-style: none;
}

.toc-text-1, .toc-text-2 {
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.toc-item-2 {
    position: relative;
}

.toc-indicator-2 {
    width: 3px;
    height: 16px;
    background-color: #02DAC9;
    position: absolute;
    left: -18px;
    top: 5px;
}

.contents {
    margin-left: 270px;
    background-color: #261C5E;
    padding: 30px 40px;
    border-radius: 5px;
}
