.wrapper {
    width: 1200px;
    margin: 50px auto;
    padding-bottom: 50px;
}

.toc {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
}

.toc-list {
    padding-left: 0;
}

.toc-item {
    list-style: none;
}

.toc-text {
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.toc-text[data-selected="true"] {
    color: #02DAC9;
}

.contents {
    margin-left: 270px;
    background-color: #261C5E;
    padding: 30px 40px;
    border-radius: 5px;
}
